.Exporter {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.ExportHeader {
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: darkslategrey;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;

  p,
  label {
    color: white;
  }
}

.CharacterSheet {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: center;     /* Centers children vertically (optional, but often useful with flex) */
  min-height: 100px; /* Example: Give the container some height */
}

.LoadingArticleContainer {
  /* This is the container whose size you want to react to */
  width: 100%; /* Example: Make it responsive */
  height: 200px; /* Or use padding-bottom for aspect ratio */

  /* Declare this element as a container */
  container-type: size; /* Or 'size' if you care about height too */

  /* Add centering for the ellipsis within this container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.LoadingWorldContainer {
    /* This is the container whose size you want to react to */
    width: 50%; /* Example: Make it responsive */
    height: 30px; /* Or use padding-bottom for aspect ratio */
  
    /* Declare this element as a container */
    container-type: size; /* Or 'size' if you care about height too */
  
    /* Add centering for the ellipsis within this container */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}