:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

/* Print specific styling */
@media print {
  #exportHeader {
    display: none;
  }

  header,
  .header-space {
    width: 100%;
  }
  footer,
  .footer-space {
    width: 100%;
  }

  header {
    position: fixed;
    top: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  .characterSheetContent {
    margin-left: 0.5in !important;
    margin-right: 0.5in !important;
  }

  @page {
    size: portrait;
    margin: 0;
  }
}

.characterSheetContent {
  margin-left: 50px;
  margin-right: 50px;
}
