/* Hawkins styling */
.Hawkins {
  --grey-text-color: #cdd6dd;
  --main-background-color: RGBA(11, 15, 18, 1);
  --medium-background-color: RGB(46, 56, 65);
  --dark-red: RGB(81, 18, 12);
  --red-text-color: #dd1d0a;
  --transparent-background: RGBA(11, 15, 18, 0.8);
  --red-link-glow: 1px 1px 1px #a31b0a, -1px -1px 1px #a31b0a,
    1px 1px 8px #ed2b12, -1px -1px 8px #ed2b12;
  --red-text-glow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100,
    0 0 20px #450100;
  --red-panel-glow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 10px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100,
    0 0 20px #450100;
  
  @media print {
    header,
    .header-space {
      height: 100px;
      margin-top: 10pt;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0pt;
    }
  }

  header,
  footer {
    text-align: center;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  img {
    max-inline-size: 100%;
  }

  h1 {
    text-transform: none;
    font-variant: small-caps;
    font-family: Libre Baskerville, serif;
    break-after: avoid;
    font-size: 22pt;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
  }
  
  h2 {
    text-transform: none;
    font-family: Libre Baskerville, serif;
    color: black;
    font-size: 16pt;
    break-after: avoid;
    font-weight: 700;
    font-variant: small-caps;
    text-align: center;
  }
  
  h3 {
    font-family: Libre Baskerville, serif;
    font-size: 14pt;
    color: black;
    break-after: avoid;
    font-weight: 700;
  }
  
  p {
    font-family: "EB Garamond", serif;
    color: black;
    font-size: 13pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    font-weight: 400;
  }

  ul {
    list-style-type: none;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }

  ol {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }
  
  li {
    font-family: "EB Garamond", serif;
    text-align: justify;
    color: black;
    line-height: 1.15;
    break-inside: avoid;
  }
  
  li::before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
    content: "\00301C ";
  }
  
  hr {
    margin: 20px 0 20px 0;
    break-before: avoid;
    color: var(--red-text-color);
  }
  
  /* Custom Class Styling */

  .name {
    h2 {
     border: none;
     font-size: 24px;
   }
  }

  .center {
    text-align: center;
    max-width: 95%;
    margin: 0px auto;
  }

  .tagline {
    font-style: italic;
  }
  
  .goals {
    orphans: 3;
    widows: 3;
    break-inside: avoid;
  }
  
  .subtitle p {
    font-style: italic;
    text-align: justify;
  }
  
  .plots p,
  .summary p,
  .goals p {
    /* text-indent: 30px; */
    text-align: justify;
  }
  
  .plots li {
    margin-left: 30px;
    margin-bottom: .5em;
  }

  .plots h2{
    padding-top: 1.25em;
  }
  
  .plots li:last-child {
   margin-bottom: 0px;
  }

  .goals li {
    margin-left: 30px;
    margin-bottom: .5em;
  }

  .goals li:last-child {
    margin-bottom: 0px;
   }

  .song {
    color: black;
    font-family: "Kalam", cursive;
    font-weight: 300;
    padding: 20px;
    margin: 10px;
    font-size: 14pt;
    text-align: center;
    font-style: italic;
    break-inside: avoid;
  }
  
  blockquote .author {
    font-family: "Kalam", cursive;
    font-weight: 300;
    padding: 0.5em;
    font-size: 0.8em;
  }
  
  .notes p {
    margin-left: 20px;
  }
}