@media print {
  #userInput {
    display: none;
  }
  li, blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  header, .header-space,
  footer, .footer-space {
      height: 100px;
      width: 100%;
      padding: 10pt;
      margin: 10pt auto;
  }

  header {
      position: fixed;
      top: 0;
  }

  footer {
      position: fixed;
      bottom: 0;
  }

  thead {display: table-header-group;} 
  tfoot {display: table-footer-group;}

  .characterSheetContent {
    margin-left: 1in;
    margin-right: 1in;
  }
}

.center {
  text-align: center;
}

img {
  max-inline-size: 95%;
}

@font-face {
  font-family: Bellefair;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-Po3huR_DQ.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
  text-transform: none;
  font-family: Bellefair, serif;
  color: black;
  font-size: 22pt;
  line-height: 1.15;
}

h2 {
  text-transform: none;
  font-family: Bellefair, serif;
  font-style: italic;
  color: black;
  font-size: 16pt;
  padding-top: 1.25em;
  padding-bottom: 0.25em;
}

h3 {
  font-family: Bellefair, serif;
  font-size: 14pt;
  color: black;
}

p {
  font-family: Bellefair, serif;
  color: black;
  font-size: 13pt;
  line-height: 1.5;
  text-align: justify;
  orphans: 2;
  widows: 2;
}

ul {
  list-style-type: none;
}

li {
  font-family: Bellefair, serif;
  text-align: justify;
  color: black;
  line-height: 1.15;
}

li::before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
  content: "\002756 ";
}

hr { margin: 20px 0 20px 0; }

.subtitle p {
  font-style: italic;
}

.mycvvsf p {
  font-style: italic;
  page-break-inside: avoid;
}

.plots p,
.summary p,
.alittlebirdtoldme p {
  text-indent: 30px;
}

.plots li {
  margin-left: 30px;
}

.skillsSecretsWishes p {
  font-style: italic;
  page-break-inside: avoid;
}

.stats p {
  text-align: center;
  font-size: 14pt;
}

.quote {
  font-family: Bellefair, serif;
  color: black;
  padding: 20px;
  margin: 10px;
  font-size: 14pt;
}

blockquote {
  font-family: Bellefair, serif;
  text-align: center;
  font-size: 14pt;
  color: black;
  padding: 20px;
  margin: 10px;
}

blockquote .author {
  font-family: Bellefair, serif;
  text-align: center;
  color: black;
  padding: 0.5em;
}