@media print {
  #userInput {
    display: none;
  }
}

.center {
  text-align: center;
}

@font-face {
  font-family: Bellefair;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-Po3huR_DQ.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
  text-transform: none;
  font-family: Bellefair, serif;
  color: black;
}

h2 {
  text-transform: none;
  font-family: Bellefair, serif;
  color: black;
}

h3 {
  font-family: Bellefair, serif;
  font-style: italic;
  color: black;
  font-size: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 0.25em;
}

h4 {
  font-family: Bellefair, serif;
  font-style: italic;
  color: black;
}

p {
  font-family: Bellefair, serif;
  color: black;
}

li {
  font-family: Bellefair, serif;
  text-align: justify;
  color: black;
  list-style-type: none;
}

li::marker {
  content: "❖  "
}

.subtitle p {
  font-style: italic;
}

.mycvvsf p {
  font-style: italic;
}

.plots p,
.summary p,
.alittlebirdtoldme p {
  text-indent: 30px;
  text-align: justify;
}

.plots li {
  margin-left: 30px
}

.skillsSecretsWishes p {
  font-style: italic;
  text-align: justify;
}

.stats p {
  text-align: center;
}

.quote {
  font-family: Bellefair, serif;
  color: black;
  background: transparent ;
  padding: 20px;
  margin: 10px;
  border-left: none;
  box-shadow: none;
 -webkit-box-shadow: none;
}

blockquote {
  font-family: Bellefair, serif;
  text-align: center;
  color: black;
  background: transparent ;
  padding: 20px;
  margin: 10px;
  border-left: none;
  box-shadow: none;
 -webkit-box-shadow: none;
}

blockquote .author {
  font-family: Bellefair, serif;
  text-align: center;
  color: black;
  padding: 0.5em;
}